#tribute-info {
    background: black;
    color: white;
    padding: 6px;
    padding-bottom: 0px;
}
#tribute-info li {
    line-height: 2;
}
body {
    background: #333;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 10px;
    border: 5px solid white;
    padding: 8px;
}

#title {
    text-align: center;
    text-transform: uppercase;

}

#subtitle {
    text-align:center;
    font-style: italic;
    border-bottom: 1px solid black;
    padding-bottom: 2px;
}

#img-caption {
    font-style:italic;
    text-align: center;
    color: white;
    background-color: black;
    border-bottom: 2px solid white;
}

#quote {
    font-style: italic;
}
p > a{
   color: white;
   text-decoration: none;
}
p > a:hover
{
    color: black;
}
p{
    font-style: italic;
    font-size: 1rem;
}
